<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/png" href="/img/logos/rumsan.png" />

  <title>Rumsan Group</title>

  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/font-awesome/css/font-awesome.css" rel="stylesheet" />
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body class="">
  <div class="loginColumns animated fadeInDown" style="background:white;padding-top:80px;">
    <div class="row">
      <div class="col-md-12 text-center">
        <h3 class="text-danger"><%=message%></h3>
        <br /><br />
        <a href="/auth/google" class="btn btn-xl btn-danger"><i class="fa fa-google"> </i> &nbsp;Login with Google</a>
        <br /><br />
        <br /><br />
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6 text-right">
        <small>© 2018 <a href="https://rumsan.com" target="_blank">Rumsan</a></small>
      </div>
    </div>
  </div>
</body>

</html>